# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large model files (too big for GitHub)
models/best_transformer_model/
bert_checkpoints/
bert_results/

# Colab-generated
*.parquet
goemotions_*.csv

# OS
.DS_Store
Thumbs.db

# Keep folder structure
!models/.gitkeep
!data/.gitkeep
!visualizations/.gitkeep
